# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Agent.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Proyectos\Entrevista\Agent\Agent\.idea\.idea.Agent\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
